resource_group_name  = "rg-azure-mlops-tfstate-dev"
storage_account_name = "sttarik2012mlopstfdev"
container_name       = "tfstate"
key                  = "platform.tfstate"
use_azuread_auth     = true
